inbound_850_po_demo/src/main/mule/inbound_850_po_demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:x12="http://www.mulesoft.org/schema/mule/x12" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/x12 http://www.mulesoft.org/schema/mule/x12/current/mule-x12.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<x12:config name="X12_EDI_Config" doc:name="X12 EDI Config" doc:id="52a32450-71da-4d40-b250-6e35b5ecb24e" interchangeIdQualifierSelf="12" interchangeIdSelf="4567890123" groupIdSelf="Omnicell" interchangeIdQualifierPartner="12" interchangeIdPartner="1234567890" groupIdPartner="Acme" requireUniqueInterchanges="false">
		<x12:schemas >
			<x12:schema value="/x12/004010/850.esl" />
		</x12:schemas>
	</x12:config>
	<sftp:config name="SFTP_Config" doc:name="SFTP Config" doc:id="c44b5368-fde2-4b16-9d3b-50ad9c32d893">
        <sftp:connection host="${sftp.host}" port="${sftp.port}" username="${secure::sftp.username}" password="${secure::sftp.password}" />
    </sftp:config>
	<file:config name="File_Config" doc:name="File Config" doc:id="888dc597-8103-4dd2-b5ca-cfd5c6fdb42c" >
		<file:connection >
			<reconnection />
		</file:connection>
	</file:config>
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="b801cb33-a7c7-43dc-9cb7-6a708a4a1ace" file="config/config-secure.yaml" key="${encryption.key}" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<global-property doc:name="Global Property" doc:id="a3b8d984-6b42-4579-9d64-928f7754c495" name="encryption.key" value="mulesoft_password" />
	<configuration-properties doc:name="Configuration properties" doc:id="de5b321f-89f4-4017-9721-aa82aac020ca" file="config/config.yaml" />
	<flow name="x12_demoFlow" doc:id="4a9b2298-b4e5-480e-8957-990622f4c767" >
		<sftp:listener doc:name="On New or Updated 850 EDI File - Poll every second" doc:id="30d1ab69-403d-4caf-b72d-517621575889" config-ref="SFTP_Config" directory="${sftp.inbound_850_dir}" recursive="false" autoDelete="true" moveToDirectory="${sftp.archive_850_dir}">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
			<sftp:matcher filenamePattern="*.edi" />
		</sftp:listener>
		<x12:read doc:name="Read 850" doc:id="b096c8a3-01a3-4b18-ade7-abb05749d6c6" config-ref="X12_EDI_Config" />
		<ee:transform doc:name="Transform 850 to JSON" doc:id="855087f0-09a3-4293-a95c-e089c549f78d">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	Transaction_Name: payload.TransactionSets.v004010."850".Name[0],
	Sender_ID: payload.TransactionSets.v004010."850".Interchange.ISA06[0],
	Receiver_ID: payload.TransactionSets.v004010."850".Interchange.ISA08[0],
	PO_Type: payload.TransactionSets.v004010."850".Heading."020_BEG".BEG02[0],
	PO_Number: payload.TransactionSets.v004010."850".Heading."020_BEG".BEG03[0],
	PO_Date: payload.TransactionSets.v004010."850".Heading."020_BEG".BEG05[0],
	Total_Transaction_Amount: payload.TransactionSets.v004010."850".Summary."010_CTT_Loop"."020_AMT".AMT02[0],
	Buyer_Information: payload.TransactionSets.v004010."850".Heading."060_PER" map {
		Name: $.PER02[0],
		Communication_Number: $.PER04[0]
	},
	Tax_Information: payload.TransactionSets.v004010."850".Heading."070_TAX" map {
		Tax_Identification_Number: $.TAX01[0],
		Tax_Exempt_Code:  $.TAX12[0]
	},
	Terms_of_Sale: payload.TransactionSets.v004010."850".Heading."130_ITD" map {
		Terms_Type_Code: $.ITD01[0],
		Discount_Percent: $.ITD03[0],
		Discount_Period: $.ITD05[0],
		Net_Days: $.ITD07[0],
		Terms_Description: $.ITD12[0]
	},
	Entity_Identification: payload.TransactionSets.v004010."850".Heading."310_N1_Loop" map {
		Entity_Id_Code: $."310_N1".N101[0],
		Entity_Name: $."310_N1".N102[0],
		Entity_Id_Qualifier_Code: $."310_N1".N103[0],
		Id: $."310_N1".N104[0],
		Address: $."340_N4" map {
			City: $.N401[0],
			State: $.N402[0],
			Postal_Code: $.N403[0],
			Country: $.N404[0]
		}
	},
	Details: payload.TransactionSets.v004010."850".Detail."010_PO1_Loop" map {
		Item_Information: $."010_PO1" map {
			Assigned_Identification: $.PO101[0],
			Ordered_Quantity: $.PO102[0],
			Unit_Code: $.PO103[0],
			Unit_Price: $.PO104[0],
			Buyers_Item_Number: $.PO107[0],
			Vendors_Item_Number: $.PO109[0],
			Product_Qualifier_Id: $.PO110[0],
			Product_Id: $.PO111[0]	
		},
		Item_Measurements: $."049_MEA" map {
			Measurement_Code: $.MEA01[0],
			Measurement_Qualifier: $.MEA02[0],
			Measurement_Value: $.MEA03[0],
			Unit: $.MEA0401[0]
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log Successful inbound 850 read in" doc:id="99681f00-4ee6-4d95-b8fd-b4190101f795" message='#["\nSuccessfully read in an 850 doc\n\n"]'/>
		<sftp:write doc:name="Write JSON 850 file" doc:id="63b38b39-5d5b-4d60-8473-b856bf5afebc" config-ref="SFTP_Config" path="${sftp.outbound_850_dir}/850_output.json"/>
	</flow>
</mule>
