hl7_to_json_api/src/main/mule/hl7-to-json-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:hl7="http://www.mulesoft.org/schema/mule/hl7" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/hl7 http://www.mulesoft.org/schema/mule/hl7/current/mule-hl7.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="hl7-to-json-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="hl7-to-json-api-config" api="hl7-to-json-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<flow name="hl7-to-json-api-main">
        <http:listener config-ref="hl7-to-json-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="hl7-to-json-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="hl7-to-json-api-console">
        <http:listener config-ref="hl7-to-json-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="hl7-to-json-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\convert-HL7-data:application\json:hl7-to-json-api-config" doc:id="336cb9f0-6cb0-404f-b353-111faaacf84b">
		<ee:transform doc:name="Transform Message" doc:id="55a607ca-3439-4d14-acaf-5f769a2ba5ff" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
fun mapPocMaint(zpm) = lookup('parse-pocket-maintenance', zpm)
---
payload ++
mapPocMaint(read(payload.Message, "application/csv", { header:false, separator:'|'})[0])
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<!-- <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="caf04d1a-7f6c-4dc5-bafa-8c529d1092cb">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
-&#45;&#45;
{
  ProxyId: "ee342b15-befb-4ee0-9003-ffe1bb32d331",
  ProxyVersion: "1.0",
  CustomerId: "EIMZPM",
  SourceIp: "10.180.222.113",
  SourceName: "VAPPEMMSERVER2",
  MessageId: "EIMZPM-1234567890",
  ProxyDttm: "2020-08-25T11:52:29.922-07:00",
  MessageDispatched: "2020-08-25T18:52:29.922",
  TimeZoneOffset: "-04:00:00",
  MessageType: "HL7_STRING",
  InterfaceId: "ZPM",
  EncodeType: "None",
  Message: "MSH|^~\\&|SIM|AB|HOSTAPP|GSH|20200824110619||ZPM|2020082411061900002|P|2.3|||||||rnZPM|V|console|RS1|003|03|90114|besifloxacin HCl 0.6 % 5.000 mL SUSPENSION, DROPS(FINAL DOSAGE FORM)(ML) OPHTHALMIC (EYE)|ItemClass|||1|TestUserID|TestLN,TestFN|witnessid|witnessname|0|17|FacCode|19|20|01|1|0|20200824110619|25|26|27|28|29|30|31|32|33|Infusion|35|36|37|1|39|40|41|42|43|1|0|46|47|0|49|20210812000000|",
  XmpErrors: [],
  XmpErrorsCount: "0",
  pocket_maintenance: {
    transaction_code: "BLAH",
    site_id: "BLAH",
    stockarea_id: "BLAH",
    drawer_number: "BLAH",
    pocket_number: "BLAH",
    item_id: "BLAH",
    item_name: "BLAH",
    item_class: "BLAH",
    expected_bin_count: "BLAH",
    actual_bin_count: "BLAH",
    transaction_qty: "BLAH",
    user_id: "BLAH",
    user_name: "BLAH",
    witness_id: "BLAH",
    witness_name: "BLAH",
    quantity_on_hand: "BLAH",
    alternate_item_id: "BLAH",
    facility_code: "BLAH",
    alternate_item_id_2: "BLAH",
    unit: "BLAH",
    sub_drawer_number: "BLAH",
    par_level: "BLAH",
    reorder_point_level: "BLAH",
    transaction_dttm: "BLAH",
    lot_number: "BLAH",
    serial_number: "BLAH",
    expiration_date: "BLAH",
    is_patient_transaction: "BLAH",
    trade_identifier: "BLAH"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform> -->
    </flow>
	<flow name="parse-pocket-maintenance" doc:id="9b87a96b-9ff0-4751-aa30-add894774f92" >
		<ee:transform doc:name="Transform Pocket Maintenance Segment" doc:id="a7de02fe-a51f-431d-916b-e7ed81f3313c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
fun formatDate(val) = val as LocalDateTime{format: "yyyyMMddHHmmss"} as String{format:"yyyy/MM/dd HH:mm:ss"}
---
{
	pocket_maintenance: {
		drawer_number: payload.column_22,
		pocket_number: payload.column_23,
		item_id: payload.column_24,
		item_name: payload.column_25,
		item_class: payload.column_26,
		expected_bin_count: payload.column_27,
		actual_bin_count: payload.column_28,
		transaction_qty: payload.column_29,
		user_id: payload.column_30,
		user_name: payload.column_31,
		witness_id: payload.column_32,
		witness_name: payload.column_33,
		quantity_on_hand: payload.column_34,
		alternate_item_id: payload.column_35,
		facility_code: payload.column_36,
		alternate_item_id_2: payload.column_37,
		unit: payload.column_38,
		sub_drawer_number: payload.column_39,
		par_level: payload.column_41,
		transaction_dttm: formatDate(payload.column_42),
		expiration_date: formatDate(payload.column_68)
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
