hc-accelerator-sfdc-adt-api/src/main/mule/hl7-router.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mllp="http://www.mulesoft.org/schema/mule/mllp" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mllp http://www.mulesoft.org/schema/mule/mllp/current/mule-mllp.xsd">
	<flow name="hl7-router_http-v2-2" doc:id="764b4da9-fc0c-4055-9734-7adc1f3c0427" >
		<http:listener doc:name="/hl7/v2_2" doc:id="2992df3a-e4b6-4365-b279-b5c592b7ceae" config-ref="HTTP_Listener_config" path="/hl7/v2_2" />
		<flow-ref doc:name="implementation-v2-2_hl7" doc:id="c41b7925-6bbf-4ef8-90d8-2738093a2fc8" name="implementation-v2-2_hl7"/>
	</flow>
	<flow name="hl7-router_http-v2-3" doc:id="0b46cb13-1b0d-4e47-ae95-b58e65f6825f" >
		<http:listener doc:name="/hl7/v2_3" doc:id="a827335e-0eaf-4d0f-8621-c23c5e8f207e" config-ref="HTTP_Listener_config" path="/hl7/v2_3" />
		<flow-ref doc:name="implementation-v2-3_hl7" doc:id="3960bf9f-77b4-40e8-865d-ea7a79be227f" name="implementation-v2-3_hl7" />
	</flow>
	<flow name="hl7-router_mllp-v2-2" doc:id="266f5f03-4366-4e68-aa72-c5b9ca6ab139" >
		<mllp:mllp-listener doc:name="mllp v2_2" doc:id="1d580a01-818a-455c-a73e-305666b9a9c3" config-ref="HL7_MLLP_Listener_V2_2"/>
		<flow-ref doc:name="implementation-v2-2_hl7" doc:id="415a7541-786b-44a3-81f7-4fd4eb89a05a" name="implementation-v2-2_hl7" />
	</flow>
	<flow name="hl7-router_mllp-v2-3" doc:id="bd7e2873-46c0-46d8-81b7-c33eb48dce6c" >
		<mllp:mllp-listener doc:name="mllp v2_3" doc:id="a0f27d96-b92b-4d30-95b9-4e34fbecea8a" config-ref="HL7_MLLP_Listener_V2_3" />
		<flow-ref doc:name="implementation-v2-3_hl7" doc:id="a6028a26-6ca9-475e-8841-f2bd539a761c" name="implementation-v2-3_hl7" />
	</flow>
	<flow name="hl7-router_ping" doc:id="cd5942e8-f896-40b3-a569-2d55feed75fd" >
		<http:listener doc:name="/ping" doc:id="2e32dfb1-7ca0-4b5f-a895-37abf8233b45" config-ref="HTTP_Listener_config" path="/ping"/>
		<set-payload value='#[output application/json
---
{
	"timestamp" : now()
}]' doc:name="Set Ping Response Payload" doc:id="d5ef8c48-cf82-4912-a3f1-52dbf52b0f8b" />
	</flow>
</mule>
