hc-accelerator-sfdc-adt-api/src/main/mule/implementation-v2-2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
	xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:salesforce-composite="http://www.mulesoft.org/schema/mule/salesforce-composite"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:hl7="http://www.mulesoft.org/schema/mule/hl7"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/hl7 http://www.mulesoft.org/schema/mule/hl7/current/mule-hl7.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce-composite http://www.mulesoft.org/schema/mule/salesforce-composite/current/mule-salesforce-composite.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd">
	<flow name="implementation-v2-2_hl7"
		doc:id="33495fa5-3cfb-4a73-a2a0-a00b55ea1df8">
		<set-variable value="#[message.payload]" doc:name="Save Payload" doc:id="29648f90-0194-4ecf-bfb7-2ba3568a94fd" variableName="hl7Payload" />
		<hl7:read doc:name="Read HL7 Message"
			doc:id="7c6b1ba5-dd06-4653-b010-fb888348211d"
			config-ref="HL7_EDI_Config_V2_2" />
		<ee:transform doc:name="Prepare Acknowledgement"
			doc:id="42fd4ae4-a7b2-4bd7-bd8e-b76b2ad1a798">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable
					resource="dw/hl7/v2_2/Acknowledgement.dwl"
					variableName="acknowledgement" />
			</ee:variables>
		</ee:transform>
		<anypoint-mq:publish doc:name="Publish to Anypoint MQ" doc:id="34537476-b67b-4b08-8084-a8c37238478f" config-ref="Anypoint_MQ_Config" destination="healthcloud.adt.v2-2">
			<anypoint-mq:body><![CDATA[#[vars.hl7Payload]]]></anypoint-mq:body>
		</anypoint-mq:publish>
		<hl7:write doc:name="Write Acknowldegement"
			doc:id="3f7dd016-d17c-444c-810f-5336528af9ab"
			config-ref="HL7_EDI_Config_V2_2">
			<hl7:write-content><![CDATA[#[vars.acknowledgement]]]></hl7:write-content>
		</hl7:write>
		<logger level="INFO" doc:name="[INFO] Log acknowledgement" doc:id="0fb3af71-43bc-4dfd-ad5b-d0ceeaf01bc8" message="Log acknowledgement" />
	</flow>
	<flow name="implementation-v2-2_hl7-process" doc:id="19b7a07d-917b-4159-adf3-f7f347f5c6cc">
		<anypoint-mq:subscriber doc:name="healthcloud.adt.v2-2" doc:id="2b792ad4-5aa9-4e0d-bf30-02640e2403c8" config-ref="Anypoint_MQ_Config" destination="healthcloud.adt.v2-2" />
		<hl7:read doc:name="Read HL7 Message" doc:id="905f1192-e9fe-4c79-8f53-4ef0ab69e52a" config-ref="HL7_EDI_Config_V2_2" />
		<flow-ref doc:name="implementation-v2-2_prepare-hc-request" doc:id="861c21e5-941d-40a7-b564-574566868886" name="implementation-v2-2_prepare-hc-request" />
		<logger level="INFO" doc:name="[INFO] Salesforce composite request" doc:id="f1be1159-5107-48e3-8389-5962e4d9bd39" message="Sending Salesforce composite request for #[vars.messageControlNumber] | patient #[vars.sourceSystemId]" />
		<salesforce-composite:execute-composite-request doc:name="Execute HC Composite Request" doc:id="ef4b32b8-c838-4097-8da0-ac5d7246844f" config-ref="Salesforce_Composite_Config" />
		<logger level="INFO" doc:name="[INFO] Salesforce response" doc:id="c2f3b9ef-ab3b-4a1a-80f1-2a9776e77d26" message="Received Salesforce composite response " />
	</flow>
	<sub-flow name="implementation-v2-2_prepare-hc-request"
		doc:id="b632e934-3811-47fa-a5e3-1205fe5ce003">
		<flow-ref doc:name="common_hl7-duplicate-check"
			doc:id="ca0096bd-75b2-4826-8425-79cad3dc450c"
			name="common_hl7-duplicate-check" />
		<ee:transform doc:name="Prepare Person Account"
			doc:id="e43b2c84-b2d4-4b85-bea0-99081b16d7c4">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable resource="dw/hl7/v2_2/Account.dwl"
					variableName="account" />
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Prepare EHR Patient"
			doc:id="deadb04f-a372-487c-a72c-d5c2391ba68b">
			<ee:message />
			<ee:variables>
				<ee:set-variable
					resource="dw/hl7/v2_2/EHRPatient.dwl" variableName="ehrPatient" />
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Prepare Patient Allergy"
			doc:id="973bac1c-ad06-4461-9822-12f7d1ba1dc4">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable
					resource="dw/hl7/v2_2/EHRPatientAllergy.dwl"
					variableName="ehrPatientAllergy" />
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Prepare Patient Observation"
			doc:id="d246daa0-bb95-40c2-bfaf-4b21ea3822bf">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable
					resource="dw/hl7/v2_2/EHRPatientObservation.dwl"
					variableName="ehrObservation" />
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Prepare Patient Visit"
			doc:id="78ac8800-b987-4a13-ad4d-f998ee72f15f">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable
					resource="dw/hl7/v2_2/EHRPatientVisit.dwl"
					variableName="ehrPatientVisit" />
			</ee:variables>
		</ee:transform>
		<ee:transform
			doc:name="[NOT USED] Prepare Visit Participant"
			doc:id="65dff271-46e9-4491-b768-31a956e43099">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable
					resource="dw/hl7/v2_2/EHRParticipant.dwl"
					variableName="ehrParticipant" />
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Prepare Covid Flags" doc:id="09f6dbbf-79e6-4c15-b1aa-0e6a603eb486" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dw/hl7/v2_2/EHRPatientCondition.dwl" variableName="EHRPatientCondition" />
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Prepare Composite Request"
			doc:id="654c21dc-e8b0-44ed-805d-fa0e6645fe08">
			<ee:message>
				<ee:set-payload resource="dw/compositeRequest.dwl" />
			</ee:message>
			<ee:variables>
			</ee:variables>
		</ee:transform>
	</sub-flow>
</mule>
