hl7_ADT_A01_demo/src/main/mule/hl7_ADT_A01_demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:hl7="http://www.mulesoft.org/schema/mule/hl7" xmlns:mllp="http://www.mulesoft.org/schema/mule/mllp"
	xmlns:edifact="http://www.mulesoft.org/schema/mule/edifact"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:x12="http://www.mulesoft.org/schema/mule/x12" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/mllp http://www.mulesoft.org/schema/mule/mllp/current/mule-mllp.xsd
http://www.mulesoft.org/schema/mule/hl7 http://www.mulesoft.org/schema/mule/hl7/current/mule-hl7.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="3564c6a8-8443-479a-aaa8-a58c539af26a" >
		<file:connection >
			<reconnection />
		</file:connection>
	</file:config>
	<mllp:request-config name="HL7_MLLP_Request_config" doc:name="HL7 MLLP Request config" doc:id="753a38d1-ab50-408d-b14f-68352f70d42e" >
		<mllp:mllp-requester-connection host="localhost" port="8080" />
	</mllp:request-config>
	<mllp:mllp-listener-config name="HL7_MLLP_Mllp_listener_config" doc:name="HL7 MLLP Mllp listener config" doc:id="95897432-b1d7-48ca-bce7-475da45d8fbe" >
		<mllp:mllp-listener-connection host="localhost" port="8080" />
	</mllp:mllp-listener-config>
	<hl7:config name="HL7_EDI_Config" doc:name="HL7 EDI Config" doc:id="0649d4b1-0445-4186-8ad7-8ffd6f9b8a0e" >
		<hl7:connection >
			<reconnection />
		</hl7:connection>
		<hl7:schemas >
			<hl7:schema value="/hl7/v2_4/ADT_A01.esl" />
		</hl7:schemas>
	</hl7:config>
	<configuration-properties doc:name="Configuration properties" doc:id="3758b05e-c28b-4045-a1b7-5028ff3b4cb5" file="config.yaml" />
	<flow name="sendFlow" doc:id="3b9ccef2-7a20-4969-8ba2-24e2f5944693">
		<file:listener doc:name="On New or Updated File" doc:id="75695e86-5134-47f8-99c8-b47c21c2da59" config-ref="File_Config" directory="${hl7.input-dir}" moveToDirectory="${hl7.processed-dir}">
			<scheduling-strategy>
				<fixed-frequency />
			</scheduling-strategy>
			<file:matcher filenamePattern="*.hl7" />
		</file:listener>
		<mllp:send doc:name="Send" doc:id="4f34ef31-36e9-4f9b-8ed5-ccd2ee3cfd50" config-ref="HL7_MLLP_Request_config" />
	</flow>
	<flow name="receiveFlow" doc:id="9d6bcdbf-fb82-4c5a-a9b5-0762e4a44d11">
		<mllp:mllp-listener doc:name="Mllp listener" doc:id="b211934c-85dd-4fe7-b692-471b9c30f9ae" config-ref="HL7_MLLP_Mllp_listener_config" />
		<hl7:read doc:name="Read" doc:id="d9cd791e-552e-4cb2-8a09-bde71e463db4" config-ref="HL7_EDI_Config"/>
		<ee:transform doc:name="Transform HL7 to JSON" doc:id="73ac1abd-b96b-4c61-9181-d45663fedbeb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="output_dir" ><![CDATA[p('hl7.output-dir')]]></ee:set-variable>
				<ee:set-variable variableName="output-filename" ><![CDATA[p('hl7.output-filename')]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<file:write doc:name="Write" doc:id="ed313f1a-42f7-4ce4-afed-e99817231043" config-ref="File_Config" path='#[vars.output_dir ++ "/" ++ vars."output-filename"]'/>
	</flow>
</mule>
